In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import csv
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
import pickle

FilePath = '/content/drive/MyDrive/ML-Project/weekly_final.csv'
# use dataset maker with numdays = 7
# reading csv file
DF = pd.read_csv(FilePath,delimiter=',')
# columns are features
columns = list(DF.columns)
# pre processing
for i in range(len(columns)):
  if "1_" in columns[i]:columns[i] = columns[i][2:]

DF.columns = columns

DF.drop(columns=['Unnamed: 0'], inplace=True)


columns = DF.columns
DF.head()

   Location  MinTemp  MaxTemp  ...  rainafter5days  rainafter6days  rainafter7days
0  Canberra      8.0     24.3  ...              No              No              No
1  Canberra     14.0     26.9  ...              No              No              No
2  Canberra     13.7     23.4  ...              No              No              No
3  Canberra     13.3     15.5  ...              No              No              No
4  Canberra      7.6     16.1  ...              No              No             Yes

[5 rows x 175 columns]

In [ ]:
DF = DF.dropna(subset=['RainToday'])
c = 'RainToday'

# outputs
y1 = DF[['rainafter1days']]
y2 = DF[['rainafter2days']]
y3 = DF[['rainafter3days']]
y4 = DF[['rainafter4days']]
y5 = DF[['rainafter5days']]
y6 = DF[['rainafter6days']]
y7 = DF[['rainafter7days']]

#droping output columns from dataset
DF=DF.drop(columns = ['rainafter2days','rainafter2days','rainafter3days','rainafter4days','rainafter5days','rainafter6days','rainafter7days'])

# columns with non-object data type
numerical_col = [i for i in DF.columns if (DF[i].dtype=='float64' or DF[i].dtype=='int64')]
#columns with object data type
objects_col = [i for i in DF.columns if DF[i].dtype=='object']

# output vector
y=[y1,y2,y3,y4,y5,y6,y7]

# converting object type output column to int type.
for i in range(len(y)):
  y[i] = y[i].replace(to_replace={'Yes':1,'No':0})

# 6 models for 6 days
for i in range(6):

  # train test split
  X_train, X_test, y_train, y_test = train_test_split(DF, y[i], test_size=0.2, stratify=y[i], random_state=0)
  
  # PRE PROCESSING

  # taking median of non-object
  t = X_train.median()

  # filling nan values with median
  X_train = X_train.fillna(t)
  X_test = X_test.fillna(t)

  # filling object type nan values with mode
  for t_df in [X_train, X_test]:
    t_df['WindGustDir'].fillna(X_train['WindGustDir'].mode()[0], inplace=True)
    t_df['WindDir9am'].fillna(X_train['WindDir9am'].mode()[0], inplace=True)
    t_df['WindDir3pm'].fillna(X_train['WindDir3pm'].mode()[0], inplace=True)
    t_df['RainToday'].fillna(X_train['RainToday'].mode()[0], inplace=True)

  # one hot encoding for object type features
  X_train = pd.concat([X_train[numerical_col], pd.get_dummies(X_train.Location,prefix='Location'),
                      pd.get_dummies(X_train.WindGustDir,prefix='WindGustDir'),
                      pd.get_dummies(X_train.WindDir9am,prefix='WindDir9am'),
                      pd.get_dummies(X_train.WindDir3pm,prefix='WindDir3pm'),
                      pd.get_dummies(X_train.RainToday,prefix='RainToday')], axis=1)

  X_test = pd.concat([X_test[numerical_col], pd.get_dummies(X_test.Location,prefix='Location'),
                      pd.get_dummies(X_test.WindGustDir,prefix='WindGustDir'),
                      pd.get_dummies(X_test.WindDir9am,prefix='WindDir9am'),
                      pd.get_dummies(X_test.WindDir3pm,prefix='WindDir3pm'),
                      pd.get_dummies(X_test.RainToday,prefix='RainToday')], axis=1)
  
  #Standardizing data
  scaler = MinMaxScaler()
  X_train = scaler.fit_transform(X_train)
  X_test = scaler.transform(X_test)
  accuracies = []
  
  # Random forest classifier
  clf = RandomForestClassifier(n_estimators=230, random_state=0,max_depth=22)

  clf.fit(X_train, y_train)
  pickle.dump(clf,open(f"/content/drive/MyDrive/ML-Project/1_day_{i+1}th_day.pickle","wb"))
  y_pred_test = clf.predict_proba(X_test)[:,1]
  
  # threshold value for classification
  thre = 0.5
  if i>0: thre = 0.38
  y_pred_test = np.where(y_pred_test>thre,1,0)

  # predicting 
  y_pred_train=clf.predict(X_train)
  test_accu = accuracy_score(y_test, y_pred_test)
  train_acc = accuracy_score(y_train,y_pred_train)
  accuracies.append([test_accu,train_acc])
  print('Day '+str(i+1),'test accuracy score : {0:0.4f}'. format(test_accu))
  print('Model train accuracy score : {0:0.4f}'. format(train_acc))

  #confussion matrix
  cm = confusion_matrix(y_test, y_pred_test)
  cm_matrix = pd.DataFrame(data=cm, columns=['Predict Negative:0', 'Predict Positive:1'], 
                                index=['Actual Negative:0', 'Actual positive:1'])
  display(cm_matrix)

v_c=y_test.value_counts()
v_c

null_accuracy = v_c[0]/sum(v_c)

print(null_accuracy)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:50: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Day 1 test accuracy score : 0.8572
Model train accuracy score : 0.9863

                   Predict Negative:0  Predict Positive:1
Actual Negative:0               19130                 622
Actual positive:1                2999                2613

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:50: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Day 2 test accuracy score : 0.8050
Model train accuracy score : 0.9777

                   Predict Negative:0  Predict Positive:1
Actual Negative:0               18585                1170
Actual positive:1                3776                1833

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:50: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Day 3 test accuracy score : 0.8003
Model train accuracy score : 0.9695

                   Predict Negative:0  Predict Positive:1
Actual Negative:0               18986                 770
Actual positive:1                4295                1313

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:50: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Day 4 test accuracy score : 0.7971
Model train accuracy score : 0.9664

                   Predict Negative:0  Predict Positive:1
Actual Negative:0               19037                 716
Actual positive:1                4430                1181

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:50: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Day 5 test accuracy score : 0.7965
Model train accuracy score : 0.9639

                   Predict Negative:0  Predict Positive:1
Actual Negative:0               19055                 692
Actual positive:1                4469                1148

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:50: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Day 6 test accuracy score : 0.7953
Model train accuracy score : 0.9629

                   Predict Negative:0  Predict Positive:1
Actual Negative:0               19019                 724
Actual positive:1                4467                1154

rainafter6days
0                 0.778387
dtype: float64